* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, 'PT Serif', serif;
}

body {
    background-color: #FFC425;
}

nav {
    width: 100vw;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#logo {
    width: 50px;
    height: 40px;
}

nav ul {
    width: 660px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #D92504;
}

nav ul li a:hover {
    color: #FF5C5C;
    border-bottom: 2px dotted #D92504;
}

nav ul li a:active {
    border-bottom: 2px dotted #D92504;
}

nav ul li button {
    width: 114px;
    height: 34px;
    border: none;
    border-radius: 50px;
    background-color: #D92504;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

#top-strawberry {
    width: 484px;
    height: 467px;
    position: absolute;
    z-index: 0;
    left: 340px;
    top: -180px;
}

#top-left-munch {
    width: 303px;
    height: 181px;
    position: absolute;
    z-index: -1;
    left: -80px;
    top: -20px;
}

#hero-img {
    width: 680px;
    height: 680px;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    left: 720px;
    transform: rotate(72deg);
}

#hero-img-munch {
    width: 560px;
    height: 534.41px;
    position: absolute;
    z-index: -1;
    left: 800px;
    top: 160px;
}

main {
    width: 100vw;
    height: 700px;
    display: flex;
    overflow: hidden;
}

main #call {
    flex: 1;
    text-align: center;
}

main #hero-img-container {
    flex: 1;
    overflow: hidden;
}

#right-munch {
    width: 49px;
    height: 278px;
    position: absolute;
    z-index: -1;
    left: 1390px;
}

main #call h3 {
    color: #D92504;
    font-family: 'PT Serif', serif;
    font-weight: 100;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 120px;
    padding: 5px 0;
}
main #call h1 {
    text-transform: uppercase;
    color: white;
    font-size: 4.6rem;
    width: 400px;
    margin-left: 22%;
    padding: 10px 0 20px;
}

#left-strawberry {
    width: 300px;
    height: 344px;
    position: absolute;
    z-index: -1;
    left: -80px;
    top: 480px;
}

#call-btns button {
    width: 180px;
    height: 50px;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    margin-left: 18px;
}

#call-btns #order {
    background-color: #D92504;
    color: white;
}

#call-btns #more-info {
    background-color: #FFC425;
    color: #D92504;
    border: 2px solid #D92504;
}

#menu-specials {
    width: 100vw;
    height: 800px;
    margin-top: 20px;
}

#menu-specials h1 {
    text-align: center;
    font-size: 1rem;
    color: #D92504;
    font-family: 'PT Serif', serif;
    margin-top: 40px;
    font-weight: 700;
    font-size: 42px;
}

#menu-specials-card {
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    margin-top: 40px;
}

.white-circles-menu {
    position: absolute;
    left: 50px;
    z-index: -1;
    width: 360px;
    height: 340px;
}

#circle-menu-02 {
    margin-top: -18px;
    left: 550px;
    width: 420px;
    height: 350px;
}

#circle-menu-03 {
    width: 350px;
    height: 320px;
    left: 1040px;
    margin-right: 10px;
}


.menu-imgs {
    position: absolute;
    z-index: 2;
    object-fit: cover;
    width: 400px;
    height: 327px;
    margin-top: -20px;
    margin-left: -10px;
}

.card-description {
    background-color: white;
    width: 400px;
    height: 300px;
    border-radius: 24px;
    margin-top: 310px;
    z-index: 0;
    padding: 30px;
}

.card-description h2 {
    color: #D92504;
    font-family: 'PT Serif', serif;
    font-size: 32px;
    font-weight: 100;
    text-align: center;

}

.card-description p {
    color: #6A6A6A;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    line-height: 24px;
    margin-top: 20px;
    height: 150px;
}

.card-description button {
    border: none;
    background-color: #FF5C5C;
    border-radius: 50px;
    margin-left: 90px;
    margin-top: -20px;
    width: 152px;
    height: 46px;
    font-size: 18px;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.card-description button:hover {
    background-color: #D92504;
}

#hor-line2 {
    width: 1000px;
    height: 16px;
    position: absolute;
    top: 740px;
}

#hor-line3 {
    width: 1000px;
    height: 16px;
    position: absolute;
    top: 1540px;
    left: 438px;
}

footer {
    width: 100vw;
    height: 221px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 180px;
}

#footer-munch {
    position: absolute;
    width: 300px;
    top: 1583px;
    left: 60px;
}

#about-us ul li,
#faq ul li,
#socials ul li  {
    list-style-type: none;
    padding: 8px 0;
    font-weight: 100;
}

#about-us ul li a,
#faq ul li a,
#socials ul li a  {
    text-decoration: none;
    font-size: 14px;
    color: #717171; 
}

#about-us ul li a:hover,
#faq ul li a:hover,
#socials ul li a:hover  {
    text-decoration: none;
    font-size: 14px;
    color: #D92504;
}

#newsletter {
    height: 100px;
    font-weight: 100;
    font-size: 14px;
    color: #717171;
    padding: 5px 0;
}

#newsletter input[type="email"] {
    margin-top: 16px;
    display: block;
    width: 168px;
    height: 20px;
    border: 1px solid #C9C9C9;
    border-radius: 50px;
}

#newsletter input[type="email"]::placeholder {
    color: #C9C9C9;
    font-size: 12px;
    padding-left: 5px;
}

#newsletter button {
    border: none;
    border-radius: 50px;
    width: 100px;
    height: 28px;
    background-color: #FF5C5C;
    color: white;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 14px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

#socials {
    width: 140px;
    font-size: 14px;
    color: #717171;
    font-weight: 100;
    height: 100px;
    padding: 5px 0;
    text-align: center;
}

#socials ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
}

.icons {
    width: 24px;
    height: 24px;
}







